.alert {
  padding: 12px;
  background-color: RGB(245, 205, 209);
  border-radius: 4px;
  border:3px;
  border-width: 1px;
  border-color: RGB(241, 184, 192);
  color: RGB(109, 37, 46);
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
