* {box-sizing: border-box;}
body{margin: 0;}
div {padding: 10px 0}


form {
    margin-left: 11rem;
    max-width: 450px;
    border-radius: 5px;
}

input {
  border-color: RGB(33, 133, 207);
  border-radius: 4px;
  height:2rem;
  width:36rem;
  font-size:1rem;
}

.button {
  height:3rem;
  width:6rem;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: RGB(33, 133, 207);
  color: white;
}
