body{margin: 0;}
div {padding: 10px 0}


form {
    margin-left: 12rem;
    max-width: 450px;
    border-radius: 5px;
}

input {
  border-width: 0px;
  border-color: White;
  border-radius: 4px;
  height:2rem;
  width:36rem;
  font-size:1rem;
}

.button {
  background-color: RGB(33, 150, 240);
  height:2rem;
  width:37rem;
  border-radius: 4px;
  transition-duration: 0.4s;
  font-size:1rem;
}

.button:hover {
  background-color: RGB(12, 100, 170);
  color: white;
}

.logout {
  margin-left: 12rem;
  background-color: RGB(33, 150, 240);
  height:2rem;
  width:37rem;
  border-radius: 4px;
  margin-right: 1rem;
  transition-duration: 0.4s;
  font-size:1rem;
}

.logout:hover {
  background-color: RGB(12, 100, 170);
  color: white;
}

.delete {
  margin-left: 12rem;
  background-color: RGB(33, 150, 240);
  height:2rem;
  width:37rem;
  border-radius: 4px;
  margin-right: 1rem;
  transition-duration: 0.4s;
  font-size:1rem;
}

.delete:hover {
  background-color: RGB(12, 100, 170);
  color: white;
}
