{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/style/alert_style.css" />

<h1>Вход</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
        {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}

    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}

      {% if error| length != 0 %}
        <div class="alert">
          <span class="alert_btn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{ error }}
         </div>
      {% endif %}

    <p>{{ form.submit(type="submit", class="button") }}
</form>
{% endblock %}