{% extends "bar.html" %}

{% block content %}
<link rel="stylesheet" href="static/style/settings_style.css"/>
<button class="back" onclick="window.history.back()">Назад</button>
  <div class="d1">
    <form action="" method="post" novalidate>

    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
        {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control") }}<br>
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

    <p>
    {{ form.email.label }}<br>
    {{ form.email(class="form-control", type="email") }}<br>
    {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}

    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

    <p>
        {{ form.surname.label }}<br>
        {{ form.surname(class="form-control") }}<br>
        {% for error in form.surname.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

    <p>
        {{ form.city.label }}<br>
        {{ form.city(class="form-control") }}<br>
        {% for error in form.city.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}

    <p>{{ form.submit(type="submit", class="button") }}
  </form>
</div>
{% endblock %}