{% extends "bar.html" %}
{% block content %}

<head>
    <script data-require="angularjs@1.3.6" data-semver="1.3.6" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.6/angular.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/task_style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="{{ url_for('static', filename='behave.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>

  <h1>{{ title }} {{ status }}</h1>
  <h3>{{ question }}</h3>

  <table>
    <tr> <th>Ввод</th>  <th>Вывод</th> </tr>
    {% for i in range(input_data| length) %}
      <tr>

        <td> {% for j in  input_data[i]%} {{ j }} <br> {% endfor %}</td>
        <td> {% for z in  output_data[i]%} {{ z }} <br> {% endfor %}</td>

      </tr>
    {% endfor %}
  </table><br>

  <form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.code_file.label }}<br>
      {{ form.code_file(type="file", class="form-control-file") }}<br>
      {% for error in form.code_file.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endfor %}

    {{ form.written_code.label }}<br>
    <p>
    <div class="container">
      <div class="line-nums"><span>1</span></div>
        {{ form.written_code(class="control", id="demo", placeholder="Ваш код здесь") }}<br>
        {% for error in form.written_code.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      {{ error }}
    </div>


    <p>
      {{ form.submit(type="submit", class="button") }}</p>
    </form>

{% endblock %}
