<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница не найдена</title>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="../static/style/error_style.css" />
    <link rel="SHORTCUT ICON" href="{{ url_for('static', filename='code.ico') }}" type="image/ico">
</head>
<body>
  <button class="back" onclick="window.history.back()">Назад</button><br><br><br><br>
  <div>
    Зачем Вы сюда пришли? Вернитесь!
  </div>
  <h1>
      404
  </h1>
</body>
</html>