<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Скоро всё исправим</title>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/error_style.css') }}" />
    <link rel="SHORTCUT ICON" href="{{ url_for('static', filename='code.ico') }}" type="image/ico">
</head>

<body>
  <button class="back" onclick="window.history.back()">Назад</button>
  <div>
    Ой, прости, что-то не так...
  </div>
  <h1>
    500
  </h1>
</body>
</html>